<div class="content-bet" *ngIf="selectBall?.id">
   <div class="col">
    <div class="ball" [style.background-color]="selectBall.color">{{ selectBall.value }}</div>
   </div> 
   <div class="col">
      <div class="input-btn">
         <form [formGroup]="betForm" >
            <input class="form-input inputFlt inputBet" formControlName="valueBet" name="valueBet" id="valueBet" placeholder="Valor de la apuesta">
            <button class="btn btnFlt btnBet" type="button" (mousedown)="startBet()" (mouseup)="stopBet()" (mouseout)="stopBet()" [disabled]="endBet">Apostar</button>
         </form>
      </div>
      <div *ngIf="betForm.get('valueBet')?.dirty || isSubmit">
         <div class="error-message" *ngIf="betForm.get('valueBet')?.hasError('min')"> El valor minimo permitido es de 5 €</div>
         <div class="error-message" *ngIf="betForm.get('valueBet')?.hasError('required')"> Es nesesario ingresar el valor de la apuesta </div>
         <div class="error-message" *ngIf="betForm.get('valueBet')?.hasError('pattern')"> El valor ingresado no es correcto </div>
      </div>
      <div class="msj-alert">Mantenga el botón <b>Apostar</b> presionado para comenzar su apuesta</div>
   </div>
   <div class="col">
      <div class="ball" *ngIf="startCountBet && ballBet" [style.background-color]="ballBet.color">{{ ballBet.value }}</div>
   </div>
   <div class="result-bet" *ngIf="endBet">
      <div class="ball bigBall" *ngIf="startCountBet && ballResult" [style.background-color]="ballResult.color">{{ ballResult.value }}</div>
      <label class="txtConfirmation" [ngClass]="(stateBet.state == 1) ? 'won': 'miss' ">{{ (stateBet.state == 1) ? 'Ganaste': 'Perdiste' }}</label>
      <button class="btn" (click)="resetbet()">Intentar de nuevo</button>
   </div>  
</div>
